.ant-layout-header {
  background-color: #f4f4f4;
  min-height: 80px;
}

.logo {
  width: 120px;
  height: 80px;
  float: left;
}
.site-layout {
  padding-top: 80px;
}

.site-layout-background {
  background: #fff;
  padding: 24px;
  min-height: 75vh;
}
.card {
  cursor: pointer;
}
